{# src/Becker/WebAppBundle/Resources/Default/views/anhaenger.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}BECKER WEBAPP{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
        <h1>ANHÄNGER <small>ARBEITSBÜHNEN</small></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            {{ render(controller(
                 'BeckerWebAppBundle:Buehnen:getBuehnenListByKategorie',
                 { 'id': 14 }
            )) }}  
        </div>
    </div>
{% endblock %}