<div class="row">
    <div class="col-xs-12">
        <h1>IHRE ANFRAGE <small>Vielen Dank!</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-1">
        <p>Wir melden uns umgehend bei Ihnen!</p>
        <button class="btn btn-default">ANMELDEN!</button>
    </div>
</div>