{% extends 'base.html.twig' %}

{% block title %}
Impressum
{% endblock %}

{% block body %}
<p>Responcible for this website (ยง 5 TMG, ยง 55 RfStV):</p>
<p>Fake Fakerson</p>
<p>123 Fakestreet</p>
<p>Fakestown - USA</p>
{% endblock %}