{# app/Resources/views/arbeitsbuehne/buehnenKategorieTabelle.html.twig #}
    
<button id="1" class="btn-primary" onClick="reply_click(this.id);">ZURÜCKSETZEN</button>
<!--<button id="2" class="btn-primary" onClick="reply_click(this.id);">3,5 t</button>
<button id="3" class="btn-primary" onClick="reply_click(this.id);">7,5 t</button>
<button id="4" class="btn-primary" onClick="reply_click(this.id);">18 t</button>
<button id="5" class="btn-primary" onClick="reply_click(this.id);">Großgerät</button>-->
<div class="pull-right">
    
</div>
<table id="myTable" class="tablesorter table">
    <thead>
        <tr class="dark-row">
            <th>Typ <button type="button" class="btn-small  btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" title="Typ Legende" 
            data-content="<p style='font-size:10px;'><b>A</b>  Anhänger   <b>B</b>	Batterie</p>
            <p style='font-size:10px;'><b>C</b>	Spezial   <b>D</b>	Motor (Benzin/Diesel)</p>
            <p style='font-size:10px;'><b>E</b>	Motor (220 V)   <b>F</b>	Fahrantrieb</p>
            <p style='font-size:10px;'><b>G</b>	Gelenk   <b>H</b>	handverrollbare Schere</p>
            <p style='font-size:10px;'><b>I</b>	Motor (380 V)   <b>J</b>	Abstützung</p>
            <p style='font-size:10px;'><b>K</b>	Kette   <b>L</b>	LKW</p>
            <p style='font-size:10px;'><b>M</b>	Mast   <b>N</b>	Allradlenkung</p>
            <p style='font-size:10px;'><b>O</b>	Pendelachse   <b>P</b>	Personenlift</p>
            <p style='font-size:10px;'><b>R</b>	Korbarm   <b>S</b>	Schere</p>
            <p style='font-size:10px;'><b>T</b>	Teleskop   <b>V</b>	vergrößerbare Plattform</p>
            <p style='font-size:10px;'><b>W</b>	bedingt geländefähig   <b>X</b>	Allrad</p>
            <p style='font-size:10px;'><b>Y</b>	verschiebbare Plattform   <b>Z</b>	Verschiedenes</p>">?
    </button></th>
            <th data-placeholder="z.B. >30">Arbeitshöhe</th>
            <th data-placeholder="z.B. >230">Korblast</th>
            <th data-placeholder="z.B. >14">Reichweite</th>
            <th data-placeholder="z.B. <3.5">Stützbreite</th>
            <th data-placeholder="z.B. <7">Länge</th>
            <th data-placeholder="z.B. <2.5">Breite</th>
            <th data-placeholder="z.B. <3">Höhe</th>
            <th class="first-name filter-select" data-placeholder="-">Hersteller</th>
            <th class="first-name filter-select" data-placeholder="-">Gruppe</th>
            <th class="first-name filter-select" data-placeholder="-">Merkmale</th>
            <th class="sorter-false">Datenblatt</th>
        </tr>
    </thead>
    <tbody>
{% for buehne in buehnen %}   
    <tr>
        <td>{{buehne.name}}</td>
        <td>{{buehne.ahoehe|replace({'.': ','})}} m</td>
        <td>{{buehne.korblast|replace({'.00': ''})}} kg</td>
        <td>{{buehne.reichweite|replace({'.': ','})}} m</td>
        <td>{{buehne.stuetzbreite|replace({'.': ','})}} m</td>
        <td>{{buehne.laenge|replace({'.': ','})}} m</td>
        <td>{{buehne.breite|replace({'.': ','})}} m</td>
        <td>{{buehne.hoehe|replace({'.': ','})}} m</td>
        <td>{{buehne.hersteller}}</td>
        <td><span class="label label-primary">{{buehne.tag1}}</span></td>
        <td><span class="label label-warning">{{buehne.tag3}}</span></td>
        <td>
            {% if buehne.pdf != null %}
                <a href="/wa/web/uploads/pdf/{{buehne.pdf}}.pdf" target="_blank">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> PDF
                </button>
                </a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>    
   
    <script>
$(function() {

  // NOTE: $.tablesorter.theme.bootstrap is ALREADY INCLUDED in the jquery.tablesorter.widgets.js
  // file; it is included here to show how you can modify the default classes
  $.tablesorter.themes.bootstrap = {
    // these classes are added to the table. To see other table classes available,
    // look here: http://getbootstrap.com/css/#tables
    table        : 'table table-bordered table-striped',
    caption      : 'caption',
    // header class names
    header       : 'bootstrap-header', // give the header a gradient background (theme.bootstrap_2.css)
    sortNone     : '',
    sortAsc      : '',
    sortDesc     : '',
    active       : '', // applied when column is sorted
    hover        : '', // custom css required - a defined bootstrap style may not override other classes
    // icon class names
    icons        : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
    iconSortNone : 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
    iconSortAsc  : 'icon-chevron-up glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
    iconSortDesc : 'icon-chevron-down glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
    filterRow    : '', // filter row class
    footerRow    : '',
    footerCells  : '',
    even         : '', // even row zebra striping
    odd          : ''  // odd row zebra striping
  };

  // call the tablesorter plugin and apply the uitheme widget
  $("table").tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    theme : "bootstrap",

    widthFixed: true,

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    widgets : [ "uitheme", "filter", "zebra"],

    widgetOptions : {
      // using the default zebra striping class name, so it actually isn't included in the theme variable above
      // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
      zebra : ["even", "odd"],

      // reset filters button
      filter_reset : ".reset",
      
      // extra css class applied to the table row containing the filters & the inputs within that row
      filter_cssFilter   : '',

      // If there are child rows in the table (rows with class name from "cssChildRow" option)
      // and this option is true and a match is found anywhere in the child row, then it will make that row
      // visible; default is false
      filter_childRows   : false,

      // if true, filters are collapsed initially, but can be revealed by hovering over the grey bar immediately
      // below the header row. Additionally, tabbing through the document will open the filter row when an input gets focus
      filter_hideFilters : false,

      // Set this option to false to make the searches case sensitive
      filter_ignoreCase  : true,

      // Use the $.tablesorter.storage utility to save the most recent filters
      filter_saveFilters : true,

      // Delay in milliseconds before the filter widget starts searching; This option prevents searching for
      // every character while typing and should make searching large tables faster.
      filter_searchDelay : 300,

      // Set this option to true to use the filter to find text from the start of the column
      // So typing in "a" will find "albert" but not "frank", both have a's; default is false
      filter_startsWith  : false,

      
      
      filter_formatter : {

            1 : function($cell, indx){
              return $.tablesorter.filterFormatter.uiRange( $cell, indx, {
                delayed: false,       // delay search (set by filter_searchDelay)
                valueToHeader: false,
                // add any of the jQuery UI Slider options here (http://api.jqueryui.com/slider/)
                values: [16, 75],             // starting value
                min: 16,               // minimum value
                max: 75               // maximum value
              });
            },
                    
            2 : function($cell, indx){
              return $.tablesorter.filterFormatter.uiRange( $cell, indx, {
                delayed: false,       // delay search (set by filter_searchDelay)
                valueToHeader: false,
                // add any of the jQuery UI Slider options here (http://api.jqueryui.com/slider/)
                values: [150, 650],             // starting value
                min: 150,               // minimum value
                max: 650               // maximum value
              });
            },
            
            3 : function($cell, indx){
              return $.tablesorter.filterFormatter.uiRange( $cell, indx, {
                delayed: false,       // delay search (set by filter_searchDelay)
                valueToHeader: false,
                // add any of the jQuery UI Slider options here (http://api.jqueryui.com/slider/)
                values: [9, 40],             // starting value
                min: 9,               // minimum value
                max: 40               // maximum value
              });
            },
                    
            4 : function($cell, indx){
              return $.tablesorter.filterFormatter.uiRange( $cell, indx, {
                delayed: false,       // delay search (set by filter_searchDelay)
                valueToHeader: false,
                // add any of the jQuery UI Slider options here (http://api.jqueryui.com/slider/)
                values: [2, 6],             // starting value
                min: 2,               // minimum value
                max: 6               // maximum value
              });
            },
            
            5 : function($cell, indx){
              return $.tablesorter.filterFormatter.uiRange( $cell, indx, {
                delayed: false,       // delay search (set by filter_searchDelay)
                valueToHeader: false,
                // add any of the jQuery UI Slider options here (http://api.jqueryui.com/slider/)
                values: [6, 15],             // starting value
                min: 6,               // minimum value
                max: 15               // maximum value
              });
            },
            
            6 : function($cell, indx){
              return $.tablesorter.filterFormatter.uiRange( $cell, indx, {
                delayed: false,       // delay search (set by filter_searchDelay)
                valueToHeader: false,
                // add any of the jQuery UI Slider options here (http://api.jqueryui.com/slider/)
                values: [1, 3],             // starting value
                min: 1,               // minimum value
                max: 3               // maximum value
              });
            },
            
            7 : function($cell, indx){
              return $.tablesorter.filterFormatter.uiRange( $cell, indx, {
                delayed: false,       // delay search (set by filter_searchDelay)
                valueToHeader: false,
                // add any of the jQuery UI Slider options here (http://api.jqueryui.com/slider/)
                values: [2, 5],             // starting value
                min: 2,               // minimum value
                max: 5               // maximum value
              });
            },
             8 : function(e, n, f, i, $r) {
                return e === f;
              },

               9 : function(e, n, f, i, $r) {
                return e === f;
              },

               10 : function(e, n, f, i, $r) {
                return e === f;
              }
            
        }
    }
  });
  
});

$(function () {
  $('[data-toggle="popover"]').popover();
});

function reply_click(id)
{
    switch(id)
    {
        case "1":
            $('table').trigger('sortReset');
            $('table').trigger('filterReset');
            //alert(id);
            break;
        case "2":
            $('table').find('input.tablesorter-filter').eq(9).val('3,5');
            $('table').trigger('search', false); // add a false flag to skip the search delay
            //alert(id);
            break;
        case "3":
            $('table').find('input.tablesorter-filter').eq(9).val('7,5');
            $('table').trigger('search', false); // add a false flag to skip the search delay
            //alert(id);
            break;
        case "4":
            $('table').find('input.tablesorter-filter').eq(9).val('18');
            $('table').trigger('search', false); // add a false flag to skip the search delay
            //alert(id);
            break;
        case "5":
            $('table').find('input.tablesorter-filter').eq(9).val('Großgerät');
            $('table').trigger('search', false); // add a false flag to skip the search delay
            //alert(id);
            break;
    }
}

   </script>